<!--The content below is only a placeholder and can be replaced.-->
<div class="spacebetween">
  <h1>
      Registration Form
  </h1>
      <div style="padding-bottom:10px">
        <label>First Name:</label>
        <input type="text" [(ngModel)]="fname" />
      </div >
      <div style="padding-bottom:10px">
        <label >Last Name:</label>
        <input type="text"  [(ngModel)]="lname"/>
      </div>
      <div style="padding-bottom:10px">
        <label >Address:</label>
        <input type="text"  [(ngModel)]="address"/>
      </div>
      <div style="padding-bottom:10px">
          <button (click)="add(fname, lname,address)" >Add</button>
      </div>
      <div>
        {{name}}
      </div>
</div>

<router-outlet></router-outlet>
